@font-face{
	font-family: 'Whale';
	src: url('font/Whale.ttf');
}
@font-face{
	font-family: 'Cross';
	src: url('font/Cross.ttf');
}
@font-face{
	font-family: 'CFRevolution';
	src: url('font/CFRevolution.ttf');
}
@font-face{
	font-family: 'Metamorphous';
	src: url('font/Metamorphous.ttf');
}
body {
	overflow-y: scroll;
}
header{
    display: flex; 
	flex-direction: row-reverse;
	background-color: #FFFFFF;
}
header .header-context{
	font-size: 20;
	margin: 20px;
	margin-left: 10px;
	color: #FFFFFF;
}
header .header-context a:link{
  	transition: all ease 0.3s;
	position:relative;
	!text-decoration:none
}
header .header-context a:hover{
	padding:0 0em;
	color:#333333;
	background:rgba(0,0,0,0);
	font-weight:bold;
}
header .header-context a:visited{
  	color: #0000FF;
}
.title{
    text-align: center;
    margin-top: -30px;
    font-size: 50px;
  	font-family: Whale;
}
.category hr{
    margin-top: 0px;
    height: 5;
    box-shadow: 0 0 10px 1px black;
}
.category-context {
	display: inline-block;
	font-size: 20px;
	font-family: Metamorphous;
	padding: 10px 10px 10px 10px;
	margin-bottom: 8px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 20%;
	transition: all ease 0.3s;
}
.H2{
    margin-top: 40px;
    margin-left: 100px;
    font-size: 40px;
}

.Link{
    margin-left: 50px;
    font-size: 20px;
}
.Link a:link{
	color: blue;
	transition: all ease 0.3s;
	position:relative;
	text-decoration:none
}
.Link a:hover{
	padding:0 1em;
	color:#333333;
	background:rgba(0,0,0,0);
	font-weight:bold;
}
.Link a:visited{
  color: #0000FF;
}


